<form [formGroup]="loginForm">
  <h1>Login Form</h1>
<div class="name">
  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" formControlName="firstName">

  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" formControlName="lastName">

  <label for="middle-name">Midlle Name: </label>
  <input id="middle-name" type="text" formControlName="middleName">
</div>
<div>
  <label for="age">Age: </label>
  <input id="age" type="number" formControlName="age">
</div>

<div class="gender">
  <label for="Gender">Gender: </label>
  <input type="radio" name="Gender" formControlName="Gender" value="Female" /> Female
      <input type="radio" name="Gender" formControlName="Gender" value="male" /> Male
      <input type="radio" name="Gender" formControlName="Gender" value="other" /> Other
    </div>

      <div formGroupName="address">
        <label for="street">Street: </label>
        <input id="street" type="text" formControlName="Street">
    
        <label for="landmark">Landmark: </label>
        <input id="landmark" type="text" formControlName="Landmark">
    
        <label for="city">City: </label>
        <input id="city" type="text" formControlName="City">
    
        <label for="state">State: </label>
        <input id="state" type="text" formControlName="state">
    
        <label for="zip-code">Zip Code: </label>
        <input id="zip-code" type="number" formControlName="ZipCode">
    
        <label for="country">Country: </label>
        <input id="country" type="text" formControlName="Country">
      </div>
      <div formArrayName="hobbies">
        <label>Hobbies:</label>
        <div *ngFor='let hobby of hobbies.controls; let i = index'>
          <input type="text" [formControlName]="i" placeholder="Hobby {{ i + 1 }}">
          <span *ngIf="i === 0">
            <button type="button" (click)="addHobby()">Add Hobby</button>
          </span>
        </div>
      </div>
      <div class="submitButton">
        <button   (click)="submit()">Submit Form</button>
      </div>

</form>